# MongoDB Connection String
# Local: mongodb://localhost:27017/restaurant
# Atlas:  mongodb+srv://<user>:<password>@cluster.mongodb.net/restaurant
MONGODB_URI=mongodb://localhost:27017/restaurant

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# NextAuth — generate secret: openssl rand -base64 32
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here

# Admin credentials
ADMIN_EMAIL=admin@restaurant.com
ADMIN_PASSWORD=admin1234
